.container {
  max-width: 600px;
  background-color: #eef3fb;
  margin: 0 auto;
  border-radius: 4px;
  font-family: "League Spartan", sans-serif;
}

.darker-background {
  background-color: #d2e3fc;
  border-top: solid #1a73e8 2px;
}

.select-container {
  text-align: center;
}

.select-element {
  width: 40%;
  background-color: #d2e3fc;
  font-size: 20px;

  border-radius: 4px;
  border: none;
  padding: 16px 0 16px 44px;
  margin-bottom: 16px;
  color: #04306a;
}

.city {
  display: flex;
  justify-content: space-between;
}

.city-and-date {
  margin-left: 74px;
}

.time {
  margin: 32px 74px 0 0;
  font-size: 36px;
  font-weight: bolder;
  color: #04306a;
}

.date {
  font-size: 14px;
  opacity: 0.7;
  margin-top: 4px;
}

h1 {
  color: #1a73e8;

  font-size: 90px;
  text-align: center;
  padding-top: 16px;
  margin: 16px;
  letter-spacing: 2px;
}

h2 {
  color: #ff6d7f;

  font-size: 32px;
  margin-bottom: 0;
}

a {
  color: #ff6d7f;
}

footer {
  font-size: 12px;
  opacity: 0.7;
  margin-top: 24px;
  padding-bottom: 16px;
  text-align: center;
}
